<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joshbduncan.colorpicker</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1388B13B-18EE-4403-A3BF-1AE18B3999E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C08EF10-C032-4F4F-991F-4E5A4BDC57A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13A94147-0E39-4769-B3D4-D9E335A233E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6129F38-A0E8-498F-95E1-1C62CDE8EC22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F2426A2-8478-4DF1-A1A5-683DB7A0B91F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C44CC167-A0B1-440C-984A-8FC17DC82199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2356FDB4-B682-446F-BB45-3DC3BEB39E33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7071AB3E-2E54-4451-A3F3-E9271EFFA793</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C08EF10-C032-4F4F-991F-4E5A4BDC57A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>975FB007-44B3-4F03-A3D2-8ABF6C967872</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F8FD9D24-39C3-41CD-B6E0-3F0EFE0D5F7C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57D48F9C-CE11-4ADE-AF7A-CB6B2A1096EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34C53CD2-429A-41D6-A10A-21E98A98A64B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1388B13B-18EE-4403-A3BF-1AE18B3999E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>439CB4E8-D03F-4AFA-94E4-ED037393CBBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C44CC167-A0B1-440C-984A-8FC17DC82199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45F4EA2B-8B88-445A-A0A4-E00DC7C40D57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A55013F2-4CE5-4BF5-A0F4-EE83382A1186</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>533D18F6-2333-454E-83BA-027330432D4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F2426A2-8478-4DF1-A1A5-683DB7A0B91F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57D48F9C-CE11-4ADE-AF7A-CB6B2A1096EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CB98332-2853-4571-B9BD-2B042D8DAA6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D960E63-77D3-4271-8B1A-26540519F111</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>992DCE47-DA95-4B30-93CC-3EB08B22EB67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69C655BC-EDF3-42A5-B90C-AD8761EAB5ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2CF66E5-C8A7-4C4F-853E-37959F395C62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7071AB3E-2E54-4451-A3F3-E9271EFFA793</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78295B19-AEDB-4E28-973F-F7067A707943</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73257B1B-712B-429D-BBBE-B4F1474F05D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13A94147-0E39-4769-B3D4-D9E335A233E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78295B19-AEDB-4E28-973F-F7067A707943</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C08EF10-C032-4F4F-991F-4E5A4BDC57A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CCB1905-DB4E-47F4-B990-14A5F33E94F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C08EF10-C032-4F4F-991F-4E5A4BDC57A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98FC5148-1A19-4D6F-A0CD-637DCFBA05D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A5DA7E2-BF98-4BF9-B703-01DABE438FCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>992DCE47-DA95-4B30-93CC-3EB08B22EB67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C08EF10-C032-4F4F-991F-4E5A4BDC57A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A5DA7E2-BF98-4BF9-B703-01DABE438FCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34C53CD2-429A-41D6-A10A-21E98A98A64B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A55013F2-4CE5-4BF5-A0F4-EE83382A1186</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7071AB3E-2E54-4451-A3F3-E9271EFFA793</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C44CC167-A0B1-440C-984A-8FC17DC82199</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F421B70C-FB1D-4744-950F-9DF51DCB1FEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE08B083-7589-4A95-9389-F98A9FF4ADD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4F1FB89-7101-47E3-AAF4-8B3A8129654E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F6711930-2666-4420-B1AF-F28E63875448</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2356FDB4-B682-446F-BB45-3DC3BEB39E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D4CA962E-5C09-4ADD-B3B6-058AF79769E3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D960E63-77D3-4271-8B1A-26540519F111</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C4D616DC-CE9E-4E9B-8C08-543A03324FAD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F2FE2E4B-79C7-461A-9086-8459E15781E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E6400656-A518-401B-8DFC-10DF462D07D0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>439CB4E8-D03F-4AFA-94E4-ED037393CBBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>43D901BF-47F2-4729-A8D5-1E66534DE560</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2CF66E5-C8A7-4C4F-853E-37959F395C62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE08B083-7589-4A95-9389-F98A9FF4ADD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6129F38-A0E8-498F-95E1-1C62CDE8EC22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CCB1905-DB4E-47F4-B990-14A5F33E94F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2FE2E4B-79C7-461A-9086-8459E15781E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6129F38-A0E8-498F-95E1-1C62CDE8EC22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F421B70C-FB1D-4744-950F-9DF51DCB1FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C08EF10-C032-4F4F-991F-4E5A4BDC57A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4F1FB89-7101-47E3-AAF4-8B3A8129654E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34C53CD2-429A-41D6-A10A-21E98A98A64B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josh Duncan</string>
	<key>description</key>
	<string>Browse, convert, and generate color palettes directly from the Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Color Picker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./main.py --analogous $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Analogous Colors...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>colorPickerAnalogous</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1388B13B-18EE-4403-A3BF-1AE18B3999E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Analogous Colors</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>98FC5148-1A19-4D6F-A0CD-637DCFBA05D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>GO_BACK</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A5DA7E2-BF98-4BF9-B703-01DABE438FCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>34C53CD2-429A-41D6-A10A-21E98A98A64B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F4F1FB89-7101-47E3-AAF4-8B3A8129654E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Complementary Colors</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>45F4EA2B-8B88-445A-A0A4-E00DC7C40D57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./main.py --complementary $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Complementary Colors...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>colorPickerComplementary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>78295B19-AEDB-4E28-973F-F7067A707943</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7071AB3E-2E54-4451-A3F3-E9271EFFA793</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>GO_BACK</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A55013F2-4CE5-4BF5-A0F4-EE83382A1186</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>colorPicker</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>975FB007-44B3-4F03-A3D2-8ABF6C967872</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2356FDB4-B682-446F-BB45-3DC3BEB39E33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>analogous</string>
						<key>outputlabel</key>
						<string>Analogous Colors</string>
						<key>uid</key>
						<string>F6711930-2666-4420-B1AF-F28E63875448</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>complementary</string>
						<key>outputlabel</key>
						<string>Complementary Colors</string>
						<key>uid</key>
						<string>D4CA962E-5C09-4ADD-B3B6-058AF79769E3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>brand</string>
						<key>outputlabel</key>
						<string>Brand Colors</string>
						<key>uid</key>
						<string>C4D616DC-CE9E-4E9B-8C08-543A03324FAD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>shades</string>
						<key>outputlabel</key>
						<string>Color Shades</string>
						<key>uid</key>
						<string>E6400656-A518-401B-8DFC-10DF462D07D0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>convert</string>
						<key>outputlabel</key>
						<string>Convert Color</string>
						<key>uid</key>
						<string>43D901BF-47F2-4729-A8D5-1E66534DE560</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DE08B083-7589-4A95-9389-F98A9FF4ADD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Brand Colors...","arg":"brand","subtitle":"Select from a palette of your brand colors."},{"title":"Analogous Colors...","arg":"analogous","subtitle":"Select from a palette of analogous colors."},{"title":"Complementary Colors...","arg":"complementary","subtitle":"Select from a palette of complementary colors."},{"title":"Color Shades...","arg":"shades","subtitle":"Select from a palette of complimentary color shades."},{"title":"Convert Color...","arg":"convert","subtitle":"Convert your color to different modes."}]</string>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Interact with Color Picker</string>
				<key>title</key>
				<string>Color Picker</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>colorPicker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>E2CF66E5-C8A7-4C4F-853E-37959F395C62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>69C655BC-EDF3-42A5-B90C-AD8761EAB5ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./main.py --brand</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Brand Colors...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>992DCE47-DA95-4B30-93CC-3EB08B22EB67</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>back</string>
						<key>outputlabel</key>
						<string>Back</string>
						<key>uid</key>
						<string>F8FD9D24-39C3-41CD-B6E0-3F0EFE0D5F7C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2C08EF10-C032-4F4F-991F-4E5A4BDC57A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5D960E63-77D3-4271-8B1A-26540519F111</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>57D48F9C-CE11-4ADE-AF7A-CB6B2A1096EC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Color value {query} copied to clipboard.</string>
				<key>title</key>
				<string>Color Picker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1CB98332-2853-4571-B9BD-2B042D8DAA6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F2FE2E4B-79C7-461A-9086-8459E15781E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Color Shades</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>73257B1B-712B-429D-BBBE-B4F1474F05D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./main.py --shades $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Color Shades...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>colorPickerShades</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7CCB1905-DB4E-47F4-B990-14A5F33E94F8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>GO_BACK</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>13A94147-0E39-4769-B3D4-D9E335A233E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E6129F38-A0E8-498F-95E1-1C62CDE8EC22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>439CB4E8-D03F-4AFA-94E4-ED037393CBBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Convert Color</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>533D18F6-2333-454E-83BA-027330432D4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./main.py --convert $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert Color...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>colorPickerConvert</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F421B70C-FB1D-4744-950F-9DF51DCB1FEC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C44CC167-A0B1-440C-984A-8FC17DC82199</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>GO_BACK</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1F2426A2-8478-4DF1-A1A5-683DB7A0B91F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Color Picker

Quickly browse, convert, and generate color palettes directly from Alfred.

## Features

- Brand Colors
- Analogous Colors Palette
- Complementary Colors Palette
- Color Shades Palette
- Color Conversion

## Usage

Type `cp` in Alfred to launch the Color Picker menu.

Pick one of the Color Picker menu options:

- `Brand Colors` - Display a configurable list of brand colors from a workflow environment variable.
- `Analogous Colors &lt;hex&gt;` - Generate a 5-color analogous palette from a HEX input.
- `Complementary Colors &lt;hex&gt;` - Generate a 5-color complementary palette from a HEX input.
- `Color Shades &lt;hex&gt;` - Generate a range of lightness shades from a HEX input.
- `Convert Color &lt;hex&gt;` - Convert a HEX color to HEX, RGB, rgb(), HSL, and hsl() formats, ready to copy.
- **Universal Actions** — Select any color from the Alfred Clipboard Manager and launch it directly into Analogous Colors, Complementary Colors, Color Shades, or Convert Color — no typing required.


## Notes

Color results support configurable modifier keys for copying alternate formats. The default bindings are:

&lt;kbd&gt;↩&lt;/kbd&gt;: Copy as HEX (e.g. `#FF0080`)
&lt;kbd&gt;⌘&lt;/kbd&gt; &lt;kbd&gt;↩&lt;/kbd&gt;: Copy as RGB (e.g. `255, 0, 128`)
&lt;kbd&gt;⇧&lt;/kbd&gt; &lt;kbd&gt;↩&lt;/kbd&gt;: Copy as CSS rgb() (e.g. `rgb(255 0 128)`)
&lt;kbd&gt;⌥&lt;/kbd&gt; &lt;kbd&gt;↩&lt;/kbd&gt;: Copy as HSL (e.g. `214, 100, 50`)
&lt;kbd&gt;⌃&lt;/kbd&gt; &lt;kbd&gt;↩&lt;/kbd&gt;: Copy as CSS hsl() (e.g. `hsl(214 100% 50%)`)

&gt; This project was built to test the usability of the [`alfred-results`](https://github.com/joshbduncan/alfred-results) Python package, which provides a typed interface for constructing Alfred Script Filter JSON payloads.</string>
	<key>uidata</key>
	<dict>
		<key>1388B13B-18EE-4403-A3BF-1AE18B3999E5</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>13A94147-0E39-4769-B3D4-D9E335A233E8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>1CB98332-2853-4571-B9BD-2B042D8DAA6B</key>
		<dict>
			<key>xpos</key>
			<real>1415</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>1F2426A2-8478-4DF1-A1A5-683DB7A0B91F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>2356FDB4-B682-446F-BB45-3DC3BEB39E33</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>2C08EF10-C032-4F4F-991F-4E5A4BDC57A4</key>
		<dict>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>34C53CD2-429A-41D6-A10A-21E98A98A64B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>439CB4E8-D03F-4AFA-94E4-ED037393CBBF</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>45F4EA2B-8B88-445A-A0A4-E00DC7C40D57</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>533D18F6-2333-454E-83BA-027330432D4B</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>57D48F9C-CE11-4ADE-AF7A-CB6B2A1096EC</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>5D960E63-77D3-4271-8B1A-26540519F111</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>69C655BC-EDF3-42A5-B90C-AD8761EAB5ED</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Double-click here to set a hotkey for quickly launching Color Picker.</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>7071AB3E-2E54-4451-A3F3-E9271EFFA793</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>73257B1B-712B-429D-BBBE-B4F1474F05D8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>78295B19-AEDB-4E28-973F-F7067A707943</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>7CCB1905-DB4E-47F4-B990-14A5F33E94F8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>975FB007-44B3-4F03-A3D2-8ABF6C967872</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>98FC5148-1A19-4D6F-A0CD-637DCFBA05D6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>992DCE47-DA95-4B30-93CC-3EB08B22EB67</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>9A5DA7E2-BF98-4BF9-B703-01DABE438FCA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>A55013F2-4CE5-4BF5-A0F4-EE83382A1186</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>C44CC167-A0B1-440C-984A-8FC17DC82199</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>DE08B083-7589-4A95-9389-F98A9FF4ADD6</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>E2CF66E5-C8A7-4C4F-853E-37959F395C62</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>E6129F38-A0E8-498F-95E1-1C62CDE8EC22</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>F2FE2E4B-79C7-461A-9086-8459E15781E9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>F421B70C-FB1D-4744-950F-9DF51DCB1FEC</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>F4F1FB89-7101-47E3-AAF4-8B3A8129654E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The default keyword to run the workflow is "cp”. You can change it here.</string>
			<key>label</key>
			<string>Workflow Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Midnight Pine,#1F3D3A
Slate Harbor,#4A6670
Dusty Sky,#8FA9B3
Warm Sand,#E6D6B8
Clay Rose,#C97C6D
Amber Glow,#D9A441
Olive Moss,#6E7F4F</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Input your brand colors as `title,hex`. Each color should be on a separate line.</string>
			<key>label</key>
			<string>Brand Colors</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>BRAND_COLORS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>COPY_AS_HEX</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy as HEX</string>
						<string>COPY_AS_HEX</string>
					</array>
					<array>
						<string>Copy as RGB</string>
						<string>COPY_AS_RGB</string>
					</array>
					<array>
						<string>Copy as RGB CSS</string>
						<string>COPY_AS_RGB_CSS</string>
					</array>
					<array>
						<string>Copy as HSL</string>
						<string>COPY_AS_HSL</string>
					</array>
					<array>
						<string>Copy as HSL CSS</string>
						<string>COPY_AS_HSL_CSS</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>MOD_NONE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>COPY_AS_RGB</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy as HEX</string>
						<string>COPY_AS_HEX</string>
					</array>
					<array>
						<string>Copy as RGB</string>
						<string>COPY_AS_RGB</string>
					</array>
					<array>
						<string>Copy as RGB CSS</string>
						<string>COPY_AS_RGB_CSS</string>
					</array>
					<array>
						<string>Copy as HSL</string>
						<string>COPY_AS_HSL</string>
					</array>
					<array>
						<string>Copy as HSL CSS</string>
						<string>COPY_AS_HSL_CSS</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌘↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>MOD_COMMAND</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>COPY_AS_RGB_CSS</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy as HEX</string>
						<string>COPY_AS_HEX</string>
					</array>
					<array>
						<string>Copy as RGB</string>
						<string>COPY_AS_RGB</string>
					</array>
					<array>
						<string>Copy as RGB CSS</string>
						<string>COPY_AS_RGB_CSS</string>
					</array>
					<array>
						<string>Copy as HSL</string>
						<string>COPY_AS_HSL</string>
					</array>
					<array>
						<string>Copy as HSL CSS</string>
						<string>COPY_AS_HSL_CSS</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⇧↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>MOD_SHIFT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>COPY_AS_HSL</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy as HEX</string>
						<string>COPY_AS_HEX</string>
					</array>
					<array>
						<string>Copy as RGB</string>
						<string>COPY_AS_RGB</string>
					</array>
					<array>
						<string>Copy as RGB CSS</string>
						<string>COPY_AS_RGB_CSS</string>
					</array>
					<array>
						<string>Copy as HSL</string>
						<string>COPY_AS_HSL</string>
					</array>
					<array>
						<string>Copy as HSL CSS</string>
						<string>COPY_AS_HSL_CSS</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌥↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>MOD_ALT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>COPY_AS_HSL_CSS</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy as HEX</string>
						<string>COPY_AS_HEX</string>
					</array>
					<array>
						<string>Copy as RGB</string>
						<string>COPY_AS_RGB</string>
					</array>
					<array>
						<string>Copy as RGB CSS</string>
						<string>COPY_AS_RGB_CSS</string>
					</array>
					<array>
						<string>Copy as HSL</string>
						<string>COPY_AS_HSL</string>
					</array>
					<array>
						<string>Copy as HSL CSS</string>
						<string>COPY_AS_HSL_CSS</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Actions to perform when pressing modifier keys.</string>
			<key>label</key>
			<string>⌃↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>MOD_CONTROL</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://joshbduncan.com</string>
</dict>
</plist>
